@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  margin: 3rem 0 0 3rem;
  display: flex;
  align-items: flex-end;

  & > img {
    width: 4rem;
  }

  & > h3 {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 200;
  }
}

#stopwatch {
  display: flex;
  justify-content: center;
  margin: 10rem 0 0 0;
  font-size: 10rem;
}

ul {
  list-style: none;
  gap: 3rem;
  display: flex;
  justify-content: center;

  & > li {
    & > button {
      outline: none;
      border-radius: 15px;
      width: 5rem;
      height: 3rem;
    }
  }
}
